div.gallery {
    margin: 5px;
    border: 1px solid crimson;
    float: right;
    width: 175px;
    background-color: black;
  }
  
  div.gallery img {
    width: 175px;
    height: 175px;
  }
  
  div.desc {
    padding: 15px;
    text-align: justify;
    color: crimson;
  }