:root {
  --cor-fundo: black;
  --cor-letra: whitesmoke;
  --cor-fundo-titulo: rgb(122, 122, 122);
  --cor-secundaria: crimson;
}

h1,h2,h3 {background-color: var(--cor-fundo-titulo);}

section {border: 1px solid var(--cor-secundaria);}

*::-webkit-scrollbar-thumb {background-color: var(--cor-secundaria);}

details {scrollbar-color: var(--cor-secundaria) transparent;}

section.letra {border: 1px solid var(--cor-secundaria);}

.rascunho-title {color: var(--cor-secundaria); }

div.gallery {border: 1px solid var(--cor-secundaria);}

footer {
  border: none;
  background-color: var(--cor-fundo-titulo);
}

body {background-color: black;}
